@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: "Pixel";
  src: url("/fonts/fonts.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pixel", sans-serif;
}

@keyframes deplete {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s infinite;
}

.food {
  animation: pulse 1s infinite;
}

.progress-bar-animation {
  transform-origin: left; /* Ensures scaling starts from the left */
  animation-fill-mode: forwards;
}
